[submodule "fennec/_sentence2vec"]
	path = fennec/_sentence2vec
	url = https://github.com/keuv-grvl/sentence2vec.git
[submodule "fennec/_gattaca"]
	path = fennec/_gattaca
	url = https://github.com/keuv-grvl/gattaca-public.git
