[submodule "fennec/_sentence2vec"]
	path = fennec/_sentence2vec
	url = https://github.com/keuv-grvl/sentence2vec.git
[submodule "fennec/_UMKL"]
	path = fennec/_UMKL
	url = https://github.com/diegoSQK/UMKL.git
